#MainContainerAbout {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#shortAboutText{
    margin-top: 2rem;
    font-size: 1.2rem;
    width: 65vw;
    text-align: center;
}

.Header {
    font-size: 3rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 2.5rem;
}

.bg {
    width: 100vw;
    padding: 10rem;
    padding-top: 5rem;
    background-color: rgba(255,255,255,0.3);
    /* border-radius: 40px; */
    margin-bottom: 5rem;
    margin-top: 3.75rem;
    font-size: 1.5rem;
    transform: perspective(1000px) scale3d(1,1,1);
    transform-style: preserve-3d;
    will-change: transform;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding-bottom: 5.5rem;
}

.Header, .infoSection{
    transform: translateZ(20px);
}

.pointHead{
    font-weight: 600;
    font-size: 1.65rem;
}

.indivPoint{
    margin-bottom: 2rem;
}

.pointInfo{
    padding-left: 3rem;
}


.infoSection {
    padding-left: 3.25rem;
}

.infoSection i {
    font-weight: 300;
}

.indivPointExp {
    margin-bottom: 5rem !important;
}

.keywords {
    /* color: red; */
    font-weight: 700;
}

.keywords_2{
    font-weight: 600;
}

@media screen and (max-width: 768) {
    .bg{
        font-size: 2.25rem;
        padding: 3rem;
        padding-top: 4rem;
    }

    .Header {
        font-size: 4rem;
    }

    .infoSection{
        padding-left: auto;
    }

    .pointHead{
        font-size: 2.65rem;
    }

    .indivPoint{
        margin-bottom: 4rem;
    }

    .Header{
        margin-bottom: 3rem;
    }
}

