.icons {
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease; 
    color: #a0a9b8;
}

#iconBarContainer{
    pointer-events: all;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.icons:hover {
    cursor: pointer;
    transform: scale(1.2); 
}

#iconList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Add this to IconBar.css */
.email-box {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    animation: fadeInOut 3s forwards;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(20px);
    }
    20% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      /* transform: translateX(-50%) translateY(20px); */
    }
  }
  