.icons {
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease; 
    color: #a0a9b8;
}

#iconBarContainer{
    pointer-events: all;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.icons:hover {
    cursor: pointer;
    transform: scale(1.2); 
}

#iconList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}