@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Playwrite+AU+SA:wght@100..400&display=swap');

#Nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;

    padding: 20px 10px;

    font-family: 'Lexend', serif;
    font-size: 1.75rem;
    font-weight: 400;


    margin: 30px 80px;
    border-radius: 10px;
    /* border-bottom: 1px dashed rgb(0,21,55); */

    /* MORE SUITED TO BG IMG */
    /* background: #c6cdd7;
    box-shadow:  28px 28px 56px #a8aeb7,
    -28px -28px 56px #e4ecf7;  */

    /* LOOKS EQUALLY IF NOT MORE GOOD */
    /* background: #d3dae4;
    box-shadow:  28px 28px 56px #b1b1b1,
                 -28px -28px 56px #ffffff; */

}

#navContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
    height: min-content;
    margin-top: 20px;
}

.links {
    text-decoration: none;
    margin: 0 60px;
    transition: transform 0.3s ease, color 0.3s ease; 
}

.links:hover {
    cursor: pointer;
    transform: scale(1.2); /* Scale up the size */
}


@media screen and (max-width: 1512px) {
    #Nav{
        width: 80%;
    }
  }

@media screen and (max-width: 768px) {
    #navContainer {
        margin-top: auto;
    }
  }

@media screen and (max-width: 812px) {
    #Nav {
        width: 100vw;
        height: 10vh;
        background-color: rgba(255,255,255, 0.3);
        /* background-color: rgba(0,21,55, 0.8); */
        /* color: #a0a9b8; */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        /* border-top: 1px dashed rgb(0,21,55); */

        margin-top: 0;
        border-radius: 0;
        top: 0;
    }
    .links{
        margin: 0 1rem;
        font-size: 2rem;
        
    }

    .links:hover{
        transform: none;
    }

    
}
