@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.proj-container {
    padding: 20px;
  }
  
  .project-cards-container {
    gap: 5rem;
    margin: 8rem;
    margin-top: 4.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 60vh; */
    justify-content: center;
  }
  
  .project-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 27vw;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(244, 244, 244, 0.6);
    height: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
}


.project-card p {
      text-align: left;
    margin: 2rem;
  }
  
  .github-link {
    display: inline-block;
    margin: 2rem;
    padding: 10px 20px;
    margin-top: auto; 
    background-color: rgb(0, 31, 82);
    color: #a0a9b8;
    border-radius: 5px;
    width: 40%;
    text-decoration: none;
    margin-top: 2rem;
    font-weight: 500;
  }
  
  /* .github-link:hover {
    background-color: #0056b3;
  } */

  
  .ProjHeader{
    font-size: 2.5rem;
    margin: 2rem;
    font-weight: 600;
    text-align: left;

  }

#shortProjectText {
  font-size: 1.5rem;
}

.menu-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  pointer-events:none;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position:fixed;
  top: 5rem;
  bottom: 0;

}

.iconMenu {
  font-size: 15rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 3rem 4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, color 0.3s ease;
}

.iconMenu:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.nameIconMenu {
  font-size: 2rem;
  margin-top: 2rem;
  color: #25313d;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.MenuLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: all;
}

.f2 {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  display: none;
  height: 0;
  width: 0;
}

.moveTranslate {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, color 0.3s ease;
  
}

.moveTranslate:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.typeDesc {
  text-align: center;
}

.story_poem {
  margin-bottom: 0;
  text-align: center !important;
}

.emoticonMain{
  font-size: 15rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.poem_story_desc{
  text-align: center !important;
}


@media screen and (max-width: 1724){

  .ProjHeader{
    font-size: 2rem;
  }

  .project-cards-container{
    column-gap: 3rem;
  }
}

@media screen and (max-width: 1440px){

  .ProjHeader{
    font-size: 1.8rem;
  }

  .iconMenu {
    font-size: 15rem;
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 1250px){


  .project-cards-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .project-card{
    width: 40vw;
  }

  .github-link{
    font-size: 1.3009rem;
  }

  .iconMenu {
    font-size: 13rem;
    padding: 2rem 3rem;
  }

  .nameIconMenu{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 884px){

  .ProjHeader{
    font-size: 3rem;
  }

  .project-cards-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    margin: 1rem;
    row-gap: 7rem;
  }

  .project-card{
    width: 100%;

  }

  .project-card p {
    font-size: 2rem;

  }

  #shortProjectText {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  .iconMenu {
    font-size: 13rem;
    padding: 2rem 3rem;
  }

  .nameIconMenu{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 683px) {

  .moveTranslate:hover{
    cursor: pointer;
    transform: scale(1);
  }

  /* .iconMenu:hover {
    cursor: pointer;
    transform: scale(1);
  } */


  .iconMenu {
    font-size: 14rem;
    padding: 2rem 3rem;
  }

  .nameIconMenu{
    font-size: 1.5rem;
  }
  
}

@media screen and (max-width: 656px) and (min-width:483px) {

  .iconMenu {
    font-size: 20rem;
    padding: 3rem 4rem;
  }

  .nameIconMenu{
    font-size: 2rem;
  }
  
}

@media screen and (max-width: 700px) {


  .menu-container {
    flex-direction: column;
    justify-content: center;
  }

  .main-f2{
    display: none;
    width: 0;
    height: 0;
  
  }

  .f2{
    margin-bottom: 6rem;
    align-items: center;
    justify-content: center;
    width: 100vw !important;
    display: flex;
    width: auto;
    height: auto;
  }

  .f2 .iconMenu{
    margin: 0 3rem;
  }
  
}

@media screen and (max-width:335px) {

  .main-f2{
    display: inline;
    width:auto;
    height: auto;
  }

  .f2 {
    display: none;
    width: 0;
    height: 0;
    margin:0;
  }

  .iconMenu {
    margin: 2rem 0;
  }


  
}
